<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Book Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Publishing Year</label
    >
    <input type="text" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Available?</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
